.products-page-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;

  h1 {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    color: var(--white);
  }
}

.products-page {
  background-color: var(--white);

  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 5px;
    overflow: hidden;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding-bottom: 10px;
    background-color: var(--green);
    border-radius: 3px;
    transition: 0.3s;

    img {
      height: 400px;
      margin: auto;
      filter: drop-shadow(8px 5px var(--white));
    }

    .title {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 20px;
    }

    .description {
      padding: 10px;
      text-align: center;
    }

    .add-product {
      display: grid;
      place-content: center;
      border-radius: 50%;
      transition: 0.5s ease;
      cursor: pointer;
    }

    .add-product:hover {
      background-color: var(--hover);
    }
  }

  .product:nth-child(2n + 1) {
    background-color: var(--yellow);
  }

  .product:nth-child(4n + 2) {
    background: var(--purple);
  }

  .product:nth-child(4n + 3) {
    background-color: var(--pink);
  }
}

.product:hover {
  transform: translateY(-5px);
  animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background: #5961de;
  }
  100% {
    background: #b22cff;
  }
}
